
<section parallax="parallax" class="scene-section scene-section-5">
  <div class="scene scene_5_1">
    <div class="rain"></div>
    <ul class="scene-layers">
      <li data-depth="0.03" class="layer">
        <div class="text-cloud text-5-1"><img src="images/chapter-3/scene-5/ampik-1.png" alt="" class="cloud"/><img ng-src="images/chapter-3/scene-5/text-1_{{lang}}.png" alt="" class="text"/></div>
        <div class="text-cloud text-5-2"><img src="images/chapter-3/scene-5/ampik-2.png" alt="" class="cloud"/><img ng-src="images/chapter-3/scene-5/text-2_{{lang}}.png" alt="" class="text"/></div>
      </li>
    </ul>
  </div>
  <div class="scene scene_5_2">
    <div class="rain"></div>
    <ul class="scene-layers">
      <li data-depth="0.03" class="layer">
        <div class="text-cloud text-5-3"><img src="images/chapter-3/scene-5/ampik-3.png" alt="" class="cloud"/><img ng-src="images/chapter-3/scene-5/text-3_{{lang}}.png" alt="" class="text"/></div>
      </li>
    </ul>
  </div>
</section>