
<section parallax="parallax" class="scene-section scene-section-2">
  <div class="scene scene_2_1">
    <ul class="scene-layers">
      <li data-depth="-0.02" class="layer">
        <div class="portal portal-1"><img ng-src="images/chapter-3/scene-2/portal-1.png" alt="" class="bg"/><img ng-src="images/chapter-3/scene-2/portal-1.gif" alt="" class="gif"/><img ng-src="images/chapter-3/scene-2/portal-1-char.png" alt="" class="char"/></div>
      </li>
      <li data-depth="0.03" class="layer">
        <div class="text-cloud text-1"><img src="images/chapter-3/scene-2/text_1.png" alt="" class="cloud"/><img ng-src="images/chapter-3/scene-2/text-1_{{lang}}.png" alt="" class="text"/></div>
        <div class="text-cloud text-2"><img src="images/chapter-3/scene-2/text_2.png" alt="" class="cloud"/><img ng-src="images/chapter-3/scene-2/text-2_{{lang}}.png" alt="" class="text"/></div>
      </li>
    </ul>
  </div>
  <div class="scene scene_2_2">
    <ul class="scene-layers">
      <li data-depth="0.02" class="layer">
        <div class="portal portal-2"><img ng-src="images/chapter-3/scene-2/portal-2.png" alt="" class="bg"/><img ng-src="images/chapter-3/scene-2/portal-2.gif" alt="" class="gif"/><img ng-src="images/chapter-3/scene-2/portal-2-char.png" alt="" class="char"/></div>
      </li>
      <li data-depth="0.03" class="layer">
        <div class="text-cloud text-3"><img src="images/chapter-3/scene-2/text_3.png" alt="" class="cloud"/><img ng-src="images/chapter-3/scene-2/text-3_{{lang}}.png" alt="" class="text"/></div>
        <div class="text-cloud text-4"><img src="images/chapter-3/scene-2/text_4.png" alt="" class="cloud"/><img ng-src="images/chapter-3/scene-2/text-4_{{lang}}.png" alt="" class="text"/></div>
      </li>
    </ul>
  </div>
</section>