
<section class="scene-section scene-section-9">
  <div parallax="parallax" class="scene-blocks">
    <div class="scene-block">
      <div class="block-content"><img src="images/chapter-2/scene-9/scene1.png" alt="" class="block-image"/>
        <ul class="scene-layers">
          <li data-depth="0.03" class="layer">
            <div class="text-cloud text-1"><img src="images/chapter-2/scene-9/text_1.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-9/text-1_{{lang}}.png" alt="" class="text"/></div>
          </li>
          <li data-depth="0.03" class="layer">
            <div class="text-cloud text-2"><img src="images/chapter-2/scene-9/text_2.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-9/text-2_{{lang}}.png" alt="" class="text"/></div>
          </li>
          <li data-depth="0.03" class="layer">
            <div class="text-cloud text-3"><img src="images/chapter-2/scene-9/text_3.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-9/text-3_{{lang}}.png" alt="" class="text"/></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="scene-block">
      <div class="block-content"><img src="images/chapter-2/scene-9/scene2.png" alt="" class="block-image"/>
        <ul class="scene-layers">
          <li data-depth="-0.02" class="layer">
            <div class="text-cloud text-4"><img src="images/chapter-2/scene-9/text_4.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-9/text-4_{{lang}}.png" alt="" class="text"/></div>
          </li>
          <li data-depth="0.03" class="layer">
            <div class="text-cloud text-5"><img src="images/chapter-2/scene-9/text_5.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-9/text-5_{{lang}}.png" alt="" class="text"/></div>
          </li>
          <li data-depth="-0.03" class="layer">
            <div class="text-cloud text-6"><img src="images/chapter-2/scene-9/text_6.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-9/text-6_{{lang}}.png" alt="" class="text"/></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>