
<section class="scene-section scene-section-15">
  <div parallax="parallax" class="scene-blocks">
    <div class="scene-block">
      <div class="block-content"><img src="images/chapter-2/scene-15/scene1.png" alt="" class="block-image"/>
        <ul class="scene-layers">
          <li data-depth="0.03" class="layer">
            <div class="text-cloud text-1"><img src="images/chapter-2/scene-15/text_1.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-15/text-1_{{lang}}.png" alt="" class="text"/></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="scene-block">
      <div class="block-content"><img src="images/chapter-2/scene-15/scene2.png" alt="" class="block-image"/>
        <ul class="scene-layers">
          <li data-depth="-0.02" class="layer">
            <div class="text-cloud text-2"><img src="images/chapter-2/scene-15/text_2.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-15/text-2_{{lang}}.png" alt="" class="text"/></div>
          </li>
          <li data-depth="0.03" class="layer">
            <div class="text-cloud text-3"><img src="images/chapter-2/scene-15/text_3.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-15/text-3_{{lang}}.png" alt="" class="text"/></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>