
<section class="scene-section scene-section-11">
  <div parallax="parallax" class="scene-blocks">
    <div class="scene-block">
      <div class="block-content"><img src="images/chapter-2/scene-11/scene1.png" alt="" class="block-image"/>
        <ul class="scene-layers">
          <li data-depth="0.03" class="layer">
            <div class="text-cloud text-1"><img src="images/chapter-2/scene-11/text_1.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-11/text-1_{{lang}}.png" alt="" class="text"/></div>
          </li>
          <li data-depth="-0.02" class="layer">
            <div class="ayo"><img ng-src="images/chapter-2/scene-11/ayo1_{{lang}}.png" alt=""/><img ng-src="images/chapter-2/scene-11/ayo2_{{lang}}.png" alt=""/></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>