
<section class="scene-section scene-section-8">
  <div parallax="parallax" class="scene-blocks">
    <div class="scene-block">
      <div class="block-content"><img src="images/chapter-2/scene-8/scene1.png" alt="" class="block-image"/>
        <ul class="scene-layers">
          <li data-depth="0.03" class="layer">
            <div class="text-cloud text-1"><img src="images/chapter-2/scene-8/text_1.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-8/text-1_{{lang}}.png" alt="" class="text"/></div>
          </li>
          <li data-depth="-0.02" data-limit-x="true" class="layer">
            <div class="text-cloud text-2"><img src="images/chapter-2/scene-8/text_2.png" alt="" class="cloud"/><img ng-src="images/chapter-2/scene-8/text-2_{{lang}}.png" alt="" class="text"/></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>