
<section parallax="parallax" class="scene-section scene-section-cover">
  <div class="prof-title-wrap"><img src="images/chapter-4/scene-1/text-6_{{lang}}.png" alt="" class="prof-title"/></div>
  <div class="scene-tati-pos">
    <div class="scene-tati tati-1"><img src="images/chapter-4/scene-5/tati-1.png" alt="" class="tati-img"/></div>
    <div class="scene-tati tati-2"><img src="images/chapter-4/scene-5/tati-2.png" alt="" class="tati-img"/></div>
    <div class="scene-tati tati-3"><img src="images/chapter-4/scene-5/tati-3.png" alt="" class="tati-img"/></div>
    <div class="scene-tati tati-4"><img src="images/chapter-4/scene-5/tati-4.png" alt="" class="tati-img"/></div>
    <div class="scene-tati tati-5"><img src="images/chapter-4/scene-5/tati-5.png" alt="" class="tati-img"/></div>
    <div class="scene-tati tati-6"><img src="images/chapter-4/scene-5/tati-6.png" alt="" class="tati-img"/></div>
  </div>
</section>