
<section parallax="parallax" class="scene-section scene-section-5">
  <div class="scene scene_5">
    <div data-depth="-0.02" class="layer">
      <div class="text-cloud text-5-1"><img src="images/chapter-4/scene-4/ampik-1.png" alt="" class="cloud"/><img ng-src="images/chapter-4/scene-4/text-1_{{lang}}.png" alt="" class="text"/></div>
      <div class="text-cloud text-5-2"><img src="images/chapter-4/scene-4/ampik-2.png" alt="" class="cloud"/><img ng-src="images/chapter-4/scene-4/text-2_{{lang}}.png" alt="" class="text"/></div>
      <div class="text-cloud text-5-3"><img src="images/chapter-4/scene-4/ampik-3.png" alt="" class="cloud"/><img ng-src="images/chapter-4/scene-4/text-3_{{lang}}.png" alt="" class="text"/></div>
      <div class="text-cloud text-5-4"><img src="images/chapter-4/scene-4/ampik-4.png" alt="" class="cloud"/><img ng-src="images/chapter-4/scene-4/text-4_{{lang}}.png" alt="" class="text"/></div>
    </div>
  </div>
</section>