
<section class="scene-section scene-section-9">
  <div class="scene scene_9">
    <ul id="scene9Layers" class="scene-layers scene-9">
      <li class="layer"><img ng-src="images/chapter-1/scene-9/back-img_{{lang}}.jpg" alt="" class="scene9-background"/></li>
      <li class="layer"><img src="images/chapter-1/scene-9/scenegif.gif" alt="" class="s9-gif1"/><img src="images/chapter-1/scene-9/scenegifi.gif" alt="" class="s9-gif2"/><img src="images/chapter-1/scene-9/s9-img2.png" alt="" class="s9-img2"/></li>
    </ul>
  </div>
</section>