
<section class="scene-section scene-section-4">
  <div class="scene scene_4_1">
    <ul id="scene4_1Layers" parallax="parallax" class="scene-layers scene-4">
      <li data-depth="0.03" class="layer"><img src="images/chapter-1/scene-4/text-1_{{lang}}.png" alt="" class="text text-1"/></li>
      <li data-depth="-0.02" class="layer"><img src="images/chapter-1/scene-4/text-2_{{lang}}.png" alt="" class="text text-2"/></li>
    </ul>
  </div>
  <div ng-style="{'background-image': 'url(images/chapter-1/scene-4/scene-4-2_'+ lang +'.jpg)'}" class="scene scene_4_2"></div>
  <div class="inner-frame"></div>
</section>