
<section class="scene-section scene-section-1">
  <ul id="scene1Layers" parallax="parallax" class="scene-layers scene-1">
    <li data-depth="0.00" class="layer">
      <div class="clouds"></div>
    </li>
    <li data-depth="0.02" class="layer">
      <div class="antar"><img src="images/chapter-1/scene-1/antar-left.png" alt="" class="antar-left"/><img src="images/chapter-1/scene-1/antar-right.png" alt="" class="antar-right"/></div>
    </li>
    <li data-depth="0.08" class="layer"><img src="images/chapter-1/scene-1/nav.png" class="navak"/></li>
    <li data-depth="0.08" class="layer"><img src="images/chapter-1/scene-1/wave-008.png" class="wave depth-008"/></li>
    <li data-depth="0.06" class="layer"><img src="images/chapter-1/scene-1/wave-007.png" class="wave depth-007"/></li>
    <li data-depth="0.07" class="layer"><img src="images/chapter-1/scene-1/wave-006.png" class="wave depth-006"/></li>
    <li data-depth="0.06" class="layer"><img src="images/chapter-1/scene-1/wave-005.png" class="wave depth-005"/></li>
    <li data-depth="0.05" class="layer"><img src="images/chapter-1/scene-1/wave-004.png" class="wave depth-004"/></li>
    <li data-depth="0.04" class="layer"><img src="images/chapter-1/scene-1/wave-003.png" class="wave depth-003"/></li>
    <li data-depth="0.03" class="layer"><img src="images/chapter-1/scene-1/wave-002.png" class="wave depth-002"/></li>
    <li data-depth="0.02" class="layer"><img src="images/chapter-1/scene-1/wave-001.png" class="wave depth-001"/></li>
    <li data-depth="0.03" class="layer"><img src="images/chapter-1/scene-1/prpur.png" class="prpur"/></li>
    <li data-depth="0.02" class="layer">
      <div class="taxtak"><img src="images/chapter-1/scene-1/taxtak-left.png" alt="" class="taxtak-left"/><img src="images/chapter-1/scene-1/taxtak-right.png" alt="" class="taxtak-right"/></div>
    </li>
    <li data-depth="0" class="layer">
      <div class="book"><img ng-src="images/chapter-1/scene-1/hand-book.png"/><img ng-src="images/chapter-1/scene-1/book_{{lang}}.png" class="text"/></div>
    </li>
  </ul>
</section>