
<section class="scene-section scene-section-6">
  <div class="scene scene_6_1">
    <ul id="scene6_1Layers" parallax="parallax" class="scene-layers scene-6">
      <li data-depth="0.03" class="layer"><img ng-src="images/chapter-1/scene-6/text-1_{{lang}}.png" alt="" class="text text-1"/></li>
      <li data-depth="-0.02" class="layer"><img ng-src="images/chapter-1/scene-6/text-2_{{lang}}.png" alt="" class="text text-2"/></li>
    </ul>
  </div>
  <div ng-style="{'background-image': 'url(images/chapter-1/scene-6/scene-6-2_'+ lang +'.jpg)'}" class="scene scene_6_2"></div>
  <div class="inner-frame"></div>
</section>