
<section class="scene-section scene-section-13">
  <ul id="scene13Layers" parallax="parallax" class="scene-layers scene-13">
    <li data-depth="0.06" class="layer"><img src="images/chapter-1/scene-13/wave-005.png" class="wave depth-005"/></li>
    <li data-depth="0.05" class="layer"><img src="images/chapter-1/scene-13/wave-004.png" class="wave depth-004"/></li>
    <li data-depth="0.04" class="layer"><img src="images/chapter-1/scene-13/wave-003.png" class="wave depth-003"/></li>
    <li data-depth="0.03" class="layer"><img src="images/chapter-1/scene-13/wave-002.png" class="wave depth-002"/></li>
    <li data-depth="0.02" class="layer"><img src="images/chapter-1/scene-13/wave-001.png" class="wave depth-001"/></li>
    <li data-depth="0.02" class="layer"><img src="images/chapter-1/scene-13/prpur.png" class="wave prpur"/></li>
    <li data-depth="0" class="layer"><img src="images/chapter-1/scene-13/all.png" alt="" class="all"/></li>
    <li data-depth="0.02" class="layer"><img ng-src="images/chapter-1/scene-13/text_{{lang}}.png" alt="" class="text"/></li>
  </ul>
</section>