
<section class="scene-section scene-section-5">
  <div class="scene scene_5_1">
    <ul id="scene5_1Layers" parallax="parallax" class="scene-layers scene-5">
      <li data-depth="0.03" class="layer"><img ng-src="images/chapter-1/scene-5/text-1_{{lang}}.png" alt="" class="text text-1"/></li>
    </ul>
  </div>
  <div class="scene scene_5_2">
    <ul id="scene5_2Layers" parallax="parallax" class="scene-layers scene-5">
      <li data-depth="-0.02" class="layer"><img ng-src="images/chapter-1/scene-5/text-2_{{lang}}.png" alt="" class="text text-2"/></li>
    </ul>
  </div>
  <div class="inner-frame"></div>
</section>