
<section class="scene-section scene-section-3">
  <div class="scene scene_3_1">
    <ul id="scene3_1Layers" parallax="parallax" class="scene-layers scene-3">
      <li data-depth="0.03" class="layer"><img ng-src="images/chapter-1/scene-3/text-1_{{lang}}.png" alt="" class="text text-1"/></li>
      <li data-depth="-0.02" class="layer"><img ng-src="images/chapter-1/scene-3/text-2_{{lang}}.png" alt="" class="text text-2"/></li>
    </ul>
  </div>
  <div class="scene scene_3_2">
    <ul id="scene3_2Layers" parallax="parallax" class="scene-layers scene-3">
      <li data-depth="-0.03" class="layer"><img ng-src="images/chapter-1/scene-3/text-3_{{lang}}.png" alt="" class="text text-3"/></li>
    </ul>
  </div>
  <div class="inner-frame"></div>
</section>