
<section class="scene-section scene-section-2">
  <ul id="scene2Layers" parallax="parallax" class="scene-layers scene-2">
    <li data-depth="0" class="layer"><img src="images/chapter-1/scene-2/erkinq.jpg" alt="" class="erkinq"/></li>
    <li data-depth="0" class="layer">
      <div class="clouds">
        <div class="clud-left"></div>
        <div class="clud-right"></div>
      </div>
    </li>
    <li data-depth="0.03" class="layer"><img src="images/chapter-1/scene-2/wave-003.png" class="wave depth-003"/></li>
    <li data-depth="0.03" class="layer"><img src="images/chapter-1/scene-2/wave-002.png" class="wave depth-002"/></li>
    <li data-depth="0.02" class="layer"><img src="images/chapter-1/scene-2/wave-001.png" class="wave depth-001"/></li>
    <li data-depth="0.03" class="layer"><img src="images/chapter-1/scene-2/prpur.png" class="prpur"/></li>
    <li data-depth="0.005" class="layer"><img src="images/chapter-1/scene-2/shenqer.png" alt="" class="shenqer"/></li>
    <li data-depth="0" class="layer"><img src="images/chapter-1/scene-2/taxtak.png" alt="" class="taxtak"/><img src="images/chapter-1/scene-2/characters.png" alt="" class="characters"/></li>
    <li data-depth="0.01" class="layer"><img ng-src="images/chapter-1/scene-2/txt-papik_{{lang}}.png" alt="" class="text text-papik"/><img ng-src="images/chapter-1/scene-2/txt-sevan_{{lang}}.png" alt="" class="text text-sevan"/></li>
  </ul>
</section>