
<section class="scene-section scene-section-3">
  <div style="background-image: url(../images/chapter-6/scene-3/bg.jpg);" class="scene scene_3">
    <div style="background-image: url(../images/chapter-6/scene-3/light-yellow.png);" class="scene_light scene_light1"></div>
    <div style="background-image: url(../images/chapter-6/scene-3/light-purple.png);" class="scene_light scene_light2"></div>
    <div style="background-image: url(../images/chapter-6/scene-3/text_{{lang}}.png);" class="scene_text scene3_text"></div>
  </div>
</section>