
<section class="scene-section scene-section-5">
  <div style="background-image: url(../images/chapter-6/scene-5/bg.jpg);" class="scene scene_5">
    <div style="background-image: url(../images/chapter-6/scene-5/img-gif_{{lang}}.gif);" class="scene_gif scene5_gif"></div>
    <div style="background-image: url(../images/chapter-6/scene-5/img-gif.gif);" class="scene_gif scene5_hand_gif"></div>
    <div style="background-image: url(../images/chapter-6/scene-5/text_{{lang}}.png);" class="scene_text scene5_text"></div>
  </div>
</section>