
<section class="scene-section scene-section-6">
  <div style="background-image: url(../images/chapter-6/scene-6/bg.jpg);" class="scene scene_6">
    <div style="background-image: url(../images/chapter-6/scene-6/img-item1.png);" class="scene_item scene6_item1"></div>
    <div style="background-image: url(../images/chapter-6/scene-6/img-item2.png);" class="scene_item scene6_item2"></div>
    <div style="background-image: url(../images/chapter-6/scene-6/img-gif.gif);" class="scene_gif scene6_gif"></div>
    <div style="background-image: url(../images/chapter-6/scene-6/text_{{lang}}.png);" class="scene_text scene6_text"></div>
  </div>
</section>